<nav aria-label="breadcrumb {{ class|default }}">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                {% if breadcrumb.link is defined and not loop.last %}
                    <a href="{{ breadcrumb.link }}">
                        {% include 'Bootstrap/breadcrumb' %}
                    </a>
                {% else %}
                    {% include 'Bootstrap/breadcrumb' %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
